# Server
PORT=3000

# Database (PostgreSQL)
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# InfluxDB
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

# Firebase
FIREBASE_CREDENTIALS_PATH=config/firebase-credentials.json

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173
